* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

.header {
    width: 100%;
    height: auto;
}

.header img {
    width: 100%;
    height: auto;
    display: block;
}

/* ------------------------------------ */

.siteMap {
    color: rgba(216, 216, 216, 1);
}

#logoCont {
    display: flex;
    align-items: center;
}

#navCont {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(122, 122, 122, 1);
}

#navOther {
    font-size: 11px;
    color: rgba(216, 216, 216, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#zoom {
    display: flex;
    flex-direction: row-reverse;
}

#searchCont {
    display: flex;
}

#searchB {
    border: none;
    width: 31px;
    height: 31px;
    background-color: rgba(28, 84, 126, 1);
}

#searchI {
    border: none;
    background-color: white;
    width: 100px;
    height: 32px;
}

#zoom {
    font-weight: 900;
    background-color: rgb(148, 148, 148);
}

#zoomIn {
    border-left: dashed 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    width: 26px;
    height: 18px;
}

#zoomOut {
    border-right: dashed 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    width: 26px;
    height: 18px;
}

#iDontKnow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    width: 26px;
    height: 18px;
}

#categoryCont {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 70px;
}

#category {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 71.91vw;
    font-size: small;
    font-weight: 600;
}

.slider {
    width: 1024px;
    height: 600px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 1024px;
    height: 600px;
    object-fit: cover;
    border: none;
}

a {
    color: black;
    text-decoration: none;
}

#menu a:hover {
    color: rgb(239, 202, 80);
}

#menu {
    position: relative;
}

#menu a {
    text-decoration: none;
    padding: 15px;
    display: block;
}

#submenu {
    border-top: solid 3px rgb(239, 202, 80);
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
    top: 58px;
}

#submenu a {
    color: black;
    font-weight: 100;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#submenu a:hover {
    background-color: #ddd;
}

#menu:hover #submenu {
    display: block;
}
